body {
	background-color: #ABC2C4;
}
li {
	list-style-type: none;
	float:left;
	font-size: 16px;
	padding:10px;
}

li a{
	color:white;
}

.form-control {
	max-width:500px;
}

.form-horizontal {
		margin-left:20px;
}

.well {
	margin-bottom: 10px;
}

.pull-right {
	float: right;
}

.jumbotron {
	min-height:270px;
}