#main_wrapper{  
width:940px;  
}  
#featured_area{  
width:720px;  
margin:10px auto;  
border:1px solid #333;  
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;  
  
}  
#feature_slider{  
margin:0 auto;  
position:relative;  
width:700px;  
}  
#feature_slider ul, #feature_slider li{  
margin:0;  
padding:0;  
list-style:none;  
}  
#feature_slider li{  
width:700px;  
height:250px;  
overflow:hidden;  
}  
#column_wrapper {  
width: 940px;  
height: 200px;  
margin: 10px auto;  
}  
#column_wrapper .column {  
width: 290px;  
margin-left: 15px;  
float: left;  
border: 1px solid #333;  
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;  
} 